DATABASE_URL=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

SHOPEE_PARTNER_ID=""
SHOPEE_PARTNER_KEY=""
SHOPEE_REDIRECT_URI=""
SHOPEE_API_URL="https://partner.test-stable.shopeemobile.com"